.container .filters {
    background: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    text-align: center;
    margin-right: 30px;
    margin-left: auto;
    outline: none;
}

.filters button :hover {
    opacity: 90%;
}

.filters .locations {
    border-right: 1px solid #DDDDDD;
}

.locations, .filters .amenities {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;  
}
.locations h3, .amenities h3{
    font-weight: 600;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: 25%;
    
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 25%;
}

ul.popover {
    display: none;
    background: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 70px;
    position: absolute;
    top: 0;
    z-index: 1; 
}

ul.popover li {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.popover h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.filters div:hover ul.popover{
    display: block;
}
