.container .places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .places h1 {
    font-size: 30px;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.places article h2 {
    font-size: 30px;
    margin-top: 0;
}

.places .price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    top: 20px;
    right: 25px;
}

div.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 50px;
}


.information .max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    background-repeat: no-repeat;
    background-position: top center; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.max_guest {
    background-image: url("../images/icon_group.png");
}
 
.number_rooms {
    background-image: url("../images/icon_bed.png");
}

.number_bathrooms {
    background-image: url("../images/icon_bath.png");
}

.user {
    display: flex;
    text-align: left;
    padding-top: 18px;
}

.description {
    text-align: left;
    margin-top: 10px;
}
